
<html>
    <!--this webpage displays blending information for browsers on remote PCs-->
    <!--IP address is 10.10.10.123 -->
    <head>
        <title>Andon PB32</title>
        <meta charset="utf-8" />
        <!--<link rel="stylesheet" type="text/css" href="/Andon/style.css">-->
    </head>
    <body>
        <h1>Blender: PB32</h1>

        <h2 id='blending'>--Blending--</h2>
        <h3 id='batch#'>Batch number: {{ prod_name }}</h3>
        <h3 id="productname">Product name: {{ prod_batch_num }}</h3>

    </body>
</html>